body {
    font-family: 'Inter', sans-serif;
}

/* Estilos customizados para o carrossel */
#carousel-container {
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

#carousel-container::-webkit-scrollbar {
    display: none;
}

/* Botões de Navegação */
#prev-btn {
    display: none;
}

#next-btn {
    display: none;
}

@media only screen and (min-width: 1000px) {
    #prev-btn {
        display: block;
    }

    #next-btn {
        display: block;
    }
}